<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar Perfil</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Registrar Perfil</h1>
    </header>
    <!-- Exibição de mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <form action="/profile/create" method="POST">
      <label for="plataforma">Selecione a plataforma:</label>
      <select id="plataforma" name="plataforma" required>
        {% for platform in platforms %}
        <option value="{{ platform }}">{{ platform }}</option>
        {% endfor %}
      </select>
      <br /><br />
      <label for="url">Insira o URL do canal:</label>
      <input
        type="text"
        id="url"
        name="url"
        placeholder="Insira o URL do canal"
        required
      />
      <br /><br />
      <button type="submit">Registrar</button>
    </form>
  </body>
</html>
